<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Inicio</title>
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <div class="buscar-vuelo">
                
                <div class="menu-buscar-vuelo">
                    <div class="opcion-destino">
                        <p class="vuelo-ida-y-vuelta">Ida y Vuelta</p>
                        <p class="vuelo-solo-ida">Solo ida</p>
                        <p class="multidestino">Multidestino</p>
                    </div>
                    <form action="/" method="">
                        <div class="grid-opciones-vuelos">
                            <div><input type="search" name="Origen" placeholder="Origen"></div>
                            <div><input type="search" name="Destino" placeholder="Destino"></div>
                            <div><input type="text" placeholder="MM/DD/YYYY" name="fechas" id="fechas"></div>
                            <div class="agregar-eliminar-tramo" id="div1">
                                <div class="flex-agregar-eliminar-tramo">
                                    <div class="agregar-tramo">+ Agregar nuevo tramo</div>
                                    <div class="eliminar-tramo">- Eliminar tramo</div>
                                </div>
                            </div>
                            <div class="passengers"><input type="number" name="cant-pasajeros" id="cant-pasajeros"
                                    placeholder="Pasajeros"></div>
                        </div>
                        <p class="opcion-sin-fecha">
                            <label for="sin fecha">Todavía no decidí la fecha</label><input type="checkbox" name="sin fecha"
                                id="sin fecha">
                        </p>
                        <p>
                            <button type="submit">Buscar</button>
                        </p>
                    </form>
                </div>
            </div>
            <section class="vuelos">
                <% data.forEach(function(flight){ %>
                    <a href="/products/productDetail/<%= flight.id %>">
                        <article>
                            <div class="imagen-destino">
                                <img src="/img/<%= flight.image %>" alt="imagen de <%= flight.destiny %>">
                                <div class="descripcion-vuelos">
                                    <p><%= flight.destiny %></p>
                                    <p class="desde"><%= flight.from %></p>
                                    <p><%= flight.price %></p>
                                </div>
                            </div>
                        </article>
                    </a>
                    <% }); %>
                        <form action="" class="buscar-vuelos-baratos">
                            <label for="destinos">¿Buscas vuelos baratos a otro destino?</label>
                            <input type="search" name="busqueda" placeholder="Quiero volar a...">
                            <button type="submit" class="button1">Buscar</button>
                        </form>
            </section>
        </main>
        <%- include('./partials/footer') %>
        <script src="/js/index.js"></script>
</body>

</html>