<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Inicio</title>
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <div class="buscar-vuelo">
                <div class="opcion-destino">
                    <p>Ida y Vuelta</p>
                    <p>Solo ida</p>
                    <p>Multidestino</p>
                </div>
                <form action="/" method="">
                    <div class="opciones-vuelos">
                        <p>
                            <input type="search" name="Origen" placeholder="Origen">
                        </p>
                        <p>
                            <input type="search" name="Destino" placeholder="Destino">
                        </p>
                    </div>
                    <div class="fecha-pasajeros">
                        <p>
                            <input type="text" placeholder="MM/DD/YYYY" name= "fechas" id="fechas"
                    onfocus="(this.type='date')"
                
                        </p>
                        <p>
                            <input type="number" name="cant-pasajeros" id="cant-pasajeros" placeholder="Pasajeros">
                        </p>
                    </div>
                    <p class="opcion-sin-fecha">
                        <label for="sin fecha">Todavía no decidí la fecha</label><input type="checkbox" name="sin fecha"
                            id="sin fecha">
                    </p>
                    <p>
                        <button type="submit">Buscar</button>
                    </p>
                </form>
            </div>
            <section class="vuelos">
                <% data.forEach(function(flight){ %>
                    <a href="/productDetail">
                        <article>
                            <div class="imagen-destino">
                                <img src="/img/<%= flight.image %>" alt="imagen de <%= flight.destiny %>">
                                <div class="descripcion-vuelos">
                                    <p><%= flight.destiny %></p>
                                    <p class="desde"><%= flight.from %></p>
                                    <p><%= flight.price %></p>
                                </div>
                            </div>
                        </article>
                    </a>
                    <% }); %>
                    <form action="" class="buscar-vuelos-baratos">
                        <label for="destinos">¿Buscas vuelos baratos a otro destino?</label>
                        <input type="search" name="busqueda" placeholder="Quiero volar a...">
                        <button type="submit" class="button1">Buscar</button>
                    </form>
            </section>
        </main>
        <%- include('./partials/footer') %>
</body>

</html>