<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Mi perfil</title>
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <div class="padding-top-my-account">
                <div class="my-account">
                    <h1>Mi perfil</h1>
                        <div>
                            <form action="/user/myaccount" method="POST" enctype="multipart/form-data">
                                <div>
                                    <% if(user.image != null) { %> 
                                    <img class="profile-picture" src="/profilePictures/<%= user.image %>" alt="foto de perfil">
                                    <% } else { %> 
                                        <img class="profile-picture" src="/profilePictures/perfil-sin-foto.jpg" alt="foto de perfil">
                                    <% } %> 
                                </div>
                                <% if (locals.errors) { %>
                                    <% } %> 
                                <input type="file" name="image" class="image">
                                <button type="submit">Subir foto</button>
                                <% if(locals.errors && errors.image) { %>
                                    <p class="msg-error-form">
                                        <%= errors.image.msg %>
                                    </p>
                                    <% } %>
                              
                            </form>
                            <h3>Datos personales:</h3>
                            <p>Nombre: <%= user.name %> <%= user.last_name %></p>
                            <p>Email: <%= user.email %></p>
                            <p>Nacionalidad: <%= country.country %></p>
                            <a href="/user/myaccount/edit"><button type="submit">Editar</button></a>
                        </div>
                </div>
            </div>
        </main>
        <%- include('./partials/footer') %>
</body>

</html>