<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Mi perfil</title>
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <div class="my-account">
                <h1>Mi perfil</h1>
                    <div>
                        <form action="/user/myaccount" method="POST" enctype="multipart/form-data">
                            <div>
                                <img class="profile-picture" src="/uploads/<%= user.image %>" alt="foto de perfil">
                            </div>
                            <input type="file" name="image" class="image">
                            <button>Subir foto</button>
                        </form>
                        <h3>Datos personales:</h3>
                        <p>Nombre: <%= user.name %> <%= user.last_name %></p>
                        <p>Email: <%= user.email %></p>
                        <p>Nacionalidad: <%= user.country %></p>
                        <a href="/user/myaccount/edit"><button type="submit">Editar</button></a>
                        <br><br><br>
                        <a href="/user/logout"><button type="submit">Cerrar sesión</button></a>
                    </div>
            </div>
        </main>
        <%- include('./partials/footer') %>
</body>

</html>