<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Mi perfil</title>
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <div class="my-account">
                <h1>Mi perfil</h1>
                    <div>
                        <form action="/user/myaccount" method="POST" enctype="multipart/form-data">
                            <input type="file" name="profilePicture" class="profilePicture">
                            <button>Subir foto</button>
                        </form>
                        <h3>Datos personales:</h3>
                        <p>Nombre: <%= user.name %> <%= user.lastName %>  </p>
                        <p>Email: <%= user.email %> </p>
                        <p>Nacionalidad: <%= user.country %> </p>
                        <a href=""><button type="submit">Editar</button></a>
                    </div>
            </div>
        </main>
        <%- include('./partials/footer') %>
</body>

</html>