<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>¡Elegí tu vuelo!</title>
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <section class="vuelos">
                <% data.forEach(function(flight){ %>
                    <div class="div-vuelo">
                        <div class="ida-y-vuelta">
                            <h3>IDA - <%= flight.ida %></h3>
                            <div class="detalle-de-vuelo">
                                <div>
                                    <div><%= flight.horarioIda %></div>
                                    <div><%= flight.aeropuertoOrigen %></div>
                                </div>
                                <div class="escalas">
                                    <div><%= flight.escalasIda %></div>
                                    <hr>
                                    <div><%= flight.duracionIda %></div>
                                </div>
                                <div>
                                    <div><%= flight.horarioLlegadaIda %></div>
                                    <div><%= flight.aeropuertoDestino %></div>
                                </div>
                            </div>
                            <h3>VUELTA - <%= flight.vuelta %></h3>
                            <div class="detalle-de-vuelo">
                                <div>
                                    <div><%= flight.horarioVuelta %></div>
                                    <div><%= flight.aeropuertoDestino %></div>
                                </div>
                                <div class="escalas">
                                    <div><%= flight.escalasVuelta %></div>
                                    <hr>
                                    <div><%= flight.duracionVuelta %></div>
                                </div>
                                <div>
                                    <div><%= flight.horarioLlegadaVuelta %></div>
                                    <div><%= flight.aeropuertoOrigen %></div>
                                </div>
                            </div>
                        </div>
                        <div class="price-button">
                            <div class="price">
                                <span><%= flight.precio %></span>
                                <a href="/"><p>Ver detalle</p></a>
                            </div>
                            <div>
                                <a href="/products/shoppingDetail"><button type="submit">Seleccionar</button></a>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </section>
        </main>
        <%- include('./partials/footer') %>
</body>

</html>