<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Lista de Productos</title>
</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <main>
        <h1 class="titulo-productos">Lista de Productos</h1>

        <form>
            <div class="btn-agregarproducto">
                <a href="/admin/productcreate"><button type="button">Agregar producto</button></a>
            </div>

            <div class="producto">
                <div class="tituloydescrip">
                    <div class="descrip-producto">
                        <% data.forEach(function(flight){ %>
                        <p>Tipo: <%= flight.tipo %></p>
                        <p>Origen: <%= flight.origen %></p>
                        <p>Destino: <%= flight.destino %></p>
                        <p>ida: <%= flight.ida %></p>
                        <p>vuelta: <%= flight.vuelta %></p>
                        <p>Horario de ida: <%= flight.horarioIda %></p>
                        <p>Horario de vuelta: <%= flight.horarioVuelta %></p>
                        <p>escalas: <%= flight.escalas %></p>
                        <p>precio: <%= flight.precio %></p>
                        <br><br><br>
                        <% }); %>
                    </div>
                </div>
                <button type="button" class="boton-edit">Editar</button>
            </div>

        </form>

    </main>
    <%- include('./partials/footer') %>
</body>

</html>