<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <title>Edite el producto</title>
</head>

<body>


    <%- include('./partials/header') %>
        <main>
            <div class="product-create">
                <h3>Edite el producto</h3>
                <form action="/admin/productedit/<%= flight.id %>?_method=PUT" method="POST">
                    <span>Tipo de producto:</span><select name="tipo" id="tipo" required>
                        <option value="vuelo">Vuelo</option>
                        <option value="hospedaje">Hospedaje</option>
                        <option value="actividad">Actividad</option>
                        <option value="auto">Auto</option>
                        <option value="paquete">Paquete</option>
                    </select>
                    <p><label for="origen">Origen:</label><input type="text" name="origen" id="origen" value="<%= flight.origen %>" required></p>
                    <p><label for="aeropuertoOrigen">Aeropuerto de origen:</label><input type="text" name="aeropuertoOrigen" id="aeropuertoOrigen" value="<%= flight.aeropuertoOrigen %>" required></p>
                    <p><label for="destino">Destino:</label><input type="text" name="destino" id="destino" value="<%= flight.destino %>" required></p>
                    <p><label for="aeropuertoDestino">Aeropuerto de Destino:</label><input type="text" name="aeropuertoDestino" value="<%= flight.aeropuertoDestino %>" id="aeropuertoDestino" required></p>
                    <p><label for="ida">Fecha de ida:</label><input type="date" name="ida" id="ida" required>
                    </p>
                    <p><label for="vuelta">Fecha de vuelta:</label><input type="date" name="vuelta" id="vuelta"
                            required></p>
                    <p><label for="horarioIda">Horario de salida (Ida):</label><input type="text" name="horarioIda" value="<%= flight.horarioIda %>"
                            id="horarioIda" required></p>
                    <p><label for="horarioLlegadaIda">Horario de llegada:</label><input type="text" value="<%= flight.horarioLlegadaIda %>"
                            name="horarioLlegadaIda" id="horarioLlegadaIda" required></p>
                    <span>Escalas:</span><select name="escalasIda" id="escalasIda" required>
                        <option value="sin-escalas">Sin escalas</option>
                        <option value="1 escala">1 Escala</option>
                        <option value="2 escalas">2 Escalas</option>
                        <option value="3 escalas">3 Escalas</option>
                    </select>
                    <p><label for="duracionIda">Duración viaje de ida:</label><input type="text" value="<%= flight.duracionIda %>"
                        name="duracionIda" id="duracionIda" required></p>
                    <p><label for="horarioVuelta">Horario de salida (Vuelta):</label><input type="text" name="horarioVuelta" value="<%= flight.horarioVuelta %>"
                            id="horarioVuelta" required></p>
                    <p><label for="horarioLlegadaVuelta">Horario de llegada:</label><input type="text" value="<%= flight.horarioLlegadaVuelta %>"
                            name="horarioLlegadaVuelta" id="horarioLlegadaVuelta" required></p>
                    <span>Escalas:</span><select name="escalasVuelta" id="escalasVuelta" required>
                        <option value="sin-escalas">Sin escalas</option>
                        <option value="1 escala">1 Escala</option>
                        <option value="2 escalas">2 Escalas</option>
                        <option value="3 escalas">3 Escalas</option>
                    </select>
                    <p><label for="duracionVuelta">Duración viaje de vuelta:</label><input type="text" value="<%= flight.duracionVuelta %>"
                        name="duracionVuelta" id="duracionVuelta" required></p>
                    <p><label for="precio">Precio:</label><input type="text" name="precio" id="precio" value="<%= flight.precio %>" required></p>
                    <br><br>
                    <p><button type="submit">Editar producto</button></p>
                </form>
            </div>
        </main>
        <%- include('./partials/footer') %>
</body>

</html>