<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <title>Creá un producto</title>
</head>

<body>


    <%- include('./partials/header') %>
        <main>
            <div class="product-create">
                <h3>Agregá un vuelo</h3>
                <% if (locals.errors) { %>
                    <% } %>
                <form action="/admin/productcreate" method="POST">

                    <div class="inputClass-forValidation-autocomplete"><label for="origen">Origen:</label>
                        <div class="autocomplete-input-list">
                            <select name="origen" id="aeropuertoOrigen"> 
                                <option value="">Selecciona el país de origen</option>
                                <% countries.forEach(oneCountry => { %>                                    
                                    <option value="<%= oneCountry.id %>"
                                        <%=locals.old &&
                                        oneCountry.country===old.origen ? 'selected' :
                                        null %>>
                                        <%= oneCountry.country %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                    </div>
                        <% if(locals.errors && errors.origen) { %>
                            <p class="msg-error-form">
                                <%= errors.origen.msg %>
                            </p>
                            <% } %>

                    <p class="inputClass-forValidation">
                        <span>Aeropuerto de origen: </span>
                        <select id="aeropuertoOrigen" name="aeropuertoOrigen">
                            <option value="">Seleccione el aeropuerto</option>
                            <% for (oneAirport of airports) { %>

                                <option class="airport-item" id="<%= oneAirport.iata_code %>">

                            <%=locals.old &&
                            oneAirport.name===old.aeropuertoOrigen ? 'selected' :
                            null %>
                                <%= oneAirport.name %>                        
                                </option>
                                <% } %>
                        </select>
                        <% if (locals.errors && errors.country) { %>
                            <p class="msg-error-form">
                                <%= errors.country.msg %>
                            </p>
                            <% } %>
                    </p>

                    <p class="inputClass-forValidation"><label for="codAeropuertoOrigen">Codigo de Aeropuerto:</label>
                        <input type="text" name="codAeropuertoOrigen" readonly
                        id="codAeropuertoOrigen"
                        value="<%= locals.old && old.codAeropuertoOrigen ? old.codAeropuertoOrigen : '' %>"></p>
                        <% if(locals.errors && errors.codAeropuertoOrigen) { %>
                            <p class="msg-error-form">
                                <%= errors.codAeropuertoOrigen.msg %>
                            </p>
                            <% } %>

                            <div class="inputClass-forValidation-autocomplete"><label for="destino">Destino:</label>
                                <div class="autocomplete-input-list">
                                    <select name="origen" id="destinyCountry"> 
                                        <option value="">Selecciona el país de origen</option>
                                        <% countries.forEach(oneCountry => { %>                                    
                                            <option value="<%= oneCountry.id %>" class="<%= oneCountry.country_code2 %>"
                                                <%=locals.old &&
                                                oneCountry.country===old.origen ? 'selected' :
                                                null %>>
                                                <%= oneCountry.country %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                            </div>
                        <% if(locals.errors && errors.destino) { %>
                            <p class="msg-error-form">
                                <%= errors.destino.msg %>
                            </p>
                            <% } %>

                            <p class="inputClass-forValidation">
                                <span>Aeropuerto de destino: </span>
                                <select id="aeropuertoDestino" name="aeropuertoDestino">
                                    <option value="">Seleccione el aeropuerto</option>
                                    <% for (oneAirport of airports) { %>
        
                                        <option class="<%= oneAirport.country_code %>" id="<%= oneAirport.iata_code%>" 
                                            value="<%=  %>">
                                    <%=locals.old &&
                                    oneAirport.name===old.aeropuertoDestino ? 'selected' :
                                    null %>
                                        <%= oneAirport.name %>                        
                                        </option>
                                        <% } %>
                                </select>
                                <% if (locals.errors && errors.country) { %>
                                    <p class="msg-error-form">
                                        <%= errors.country.msg %>
                                    </p>
                                    <% } %>
                            </p>

                    <p class="inputClass-forValidation"><label for="codAeropuertoDestino">Codigo de Aeropuerto:</label>
                        <input type="text" name="codAeropuertoDestino" readonly
                        id="codAeropuertoDestino" 
                        value="<%= locals.old && old.codAeropuertoDestino ? old.codAeropuertoDestino : '' %>"></p>
                        <% if(locals.errors && errors.codAeropuertoDestino) { %>
                            <p class="msg-error-form">
                                <%= errors.codAeropuertoDestino.msg %>
                            </p>
                            <% } %>

                    <p class="inputClass-forValidation"><label for="fechaVuelo">Fecha de vuelo:</label><input type="datetime-local"
                         name="fechaVuelo" id="fechaVuelo" value="<%= locals.old && old.fechaVuelo ? old.fechaVuelo : '' %>"></p>
                        <% if(locals.errors && errors.fechaVuelo) { %>
                            <p class="msg-error-form">
                                <%= errors.fechaVuelo.msg %>
                            </p>
                            <% } %>

                    <p class="inputClass-forValidation"><label for="duration">Duración:</label><input type="text"
                        name="duration" id="duration" placeholder="Ej: 10h 30min" 
                        value="<%= locals.old && old.duration ? old.duration : '' %>"></p>
                        <% if(locals.errors && errors.duration) { %>
                            <p class="msg-error-form">
                                <%= errors.duration.msg %>
                            </p>
                            <% } %>

                    <p class="inputClass-forValidation"><label for="precio">Precio:</label><input type="text" name="precio"
                         id="precio" placeholder="Ej: $50.000"
                        value="<%= locals.old && old.precio ? old.precio : '' %>"></p>
                        <% if(locals.errors && errors.precio) { %>
                            <p class="msg-error-form">
                                <%= errors.precio.msg %>
                            </p>
                            <% } %>

                    <p class="inputClass-forValidation">
                        <span>Aerolínea:</span>
                        <select id="airline" name="airline">
                            <option value="">Seleccione una aerolínea</option>
                            <% for (let i = 0; i < airlines.length; i++) { %>
                                <option value="<%= airlines[i].name %>"
                                    <%=locals.old &&
                                    airlines[i].name===old.airline ? 'selected' :
                                    null %>>
                                    <%= airlines[i].name %>
                                </option>
                           <% } %> 


                        </select>
                        <% if (locals.errors && errors.airline) { %>
                            <p class="msg-error-form">
                                <%= errors.airline.msg %>
                            </p>
                            <% } %>
                    </p>

                    <p class="inputClass-forValidation"><label for="nroVuelo">Nro de vuelo:</label><input type="text"
                        name="nroVuelo" id="nroVuelo" placeholder="Ej: AE256JQ45" value="<%= locals.old && old.nroVuelo ? old.nroVuelo : '' %>"></p>
                        <% if(locals.errors && errors.nroVuelo) { %>
                            <p class="msg-error-form">
                                <%= errors.nroVuelo.msg %>
                            </p>
                            <% } %>
                    <br><br>
                    <p><button type="submit">Agregar producto</button></p>
                </form>
            </div>
        </main>
        <%- include('./partials/footer') %>
</body>

</html>