<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Lista de Productos</title>
</head>

<body>
        <%- include('./partials/header') %>
    <main>

        <div class="titulo-productlist">
            <h1>Lista de Productos</h1>
            <a href="/admin/productcreate"><button type="submit">Agregar producto</button></a>
        </div>
        <form class="list-format">
            <% itineraries.forEach(function(itinerary){ %>
                <div class="description-list-format">
                    <p>Origen: <%= itinerary.origins.countries.country %>, <%= itinerary.origins.cities.city %></p>
                    <p>Aeropuerto de origen: <%= itinerary.origins.airports.airport %>, <%= itinerary.origins.airports.code %></p>
                    <p>Destino: <%= itinerary.destinations.countries.country %>, <%= itinerary.destinations.cities.city %></p>
                    <p>Aeropuerto de destino: <%= itinerary.destinations.airports.airport %>, <%= itinerary.destinations.airports.code %></p>
                    <p>Fecha y hora del vuelo: <%= itinerary.flights.date %>, <%= itinerary.flights.time %></p>
                    <p>Duración: <%= itinerary.flights.duration %></p>
                    <p>Nro de vuelo: <%= itinerary.flights.flight_number %></p>
                    <p>Aerolínea: <%= itinerary.flights.airlines.airline %></p>
                    <p>Precio: <%= itinerary.flights.price %></p>
                    <a href="/admin/productedit/<%= itinerary.id %>"><button type="button" class="boton-edit">Editar producto</button></a>
                    <a href="/admin/productReview/<%= itinerary.id %>"><button type="button" class="boton-edit">Eliminar Producto</button></a>
                </div>
                <br><br>
                <% }); %>
        </form>

    </main>
    <%- include('./partials/footer') %>
</body>

</html>