<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Hola Admin - Revisa este vuelo</title>
</head>

<body>
    <%- include('./partials/header') %>
    <main>
        <div class="padding-top-my-account">
            <h2 class="titulo-productreview">Estas seguro que querés eliminar este vuelo?</h2>
            <form action="/admin/productDelete/<%= itineraries.id %>?_method=delete" method="post">
                <div class="product-review">
                    <p>Nro de ID: <%= itineraries.id %></p>
                    <p>Origen: <%= itineraries.origins.countries.country %>, <%= itineraries.origins.cities.city %></p>
                    <p>Aeropuerto de origen: <%= itineraries.origins.airports.airport %>, <%= itineraries.origins.airports.code %></p>
                    <p>Destino: <%= itineraries.destinations.countries.country %>, <%= itineraries.destinations.cities.city %></p>
                    <p>Aeropuerto de destino: <%= itineraries.destinations.airports.airport %>, <%= itineraries.destinations.airports.code %></p>
                    <p>Fecha y hora del vuelo: <%= itineraries.flights.date %>, <%= itineraries.flights.time %></p>
                    <p>Duración: <%= itineraries.flights.duration %></p>
                    <p>Nro de vuelo: <%= itineraries.flights.flight_number %></p>
                    <p>Aerolínea: <%= itineraries.flights.airlines.airline %></p>
                    <p>Precio: <%= itineraries.flights.price %></p>
                    <button type="submit">CONFIRMAR ELIMINACIÓN</button>
                </div>
            </form>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>