<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>¡Elegí tu vuelo!</title>
</head>

<body>
    <%- include('./partials/header') %>
        <main class="main-productDetail">
            <section id="vuelos-detail">
                <div id="flex-productDetail">
                    <div class="div-vuelo">
                        <div class="ida-y-vuelta">
                            <h3>IDA - <%= itineraries.flights.date %></h3>
                            <div class="detalle-de-vuelo">
                                <div>
                                    <div id="flight-time"><%= itineraries.flights.time %></div>
                                    <div><%= itineraries.origins.airports.code %></div>
                                </div>
                                <div class="escalas">
                                    <div>Sin escalas</div>
                                    <hr>
                                    <div id="flight-duration"><%= itineraries.flights.duration %></div>
                                </div>
                                <div>
                                    <div class="resultado"></div>
                                    <div><%= itineraries.destinations.airports.code %></div>
                                </div>
                            </div>
                            <h3></h3>
                            <div class="detalle-de-vuelo">
                                <div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="escalas">
                                    <div></div>
                                    <div></div>
                                </div>
                                <div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <div class="price-button">
                            <div class="price">
                                <span><%= itineraries.flights.price %></span>
                                <a href="/"><p>Ver detalle</p></a>
                            </div>
                            <div>
                                <a href="/products/shoppingDetail"><button type="submit">Seleccionar</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="publicidad-seguro">
                        <img src="/img/universal-assistance..png" alt="universal-assistance">
                    </div>
                </div>
            </section>
        </main>
        <%- include('./partials/footer') %>
</body>

</html>