<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>¡Elegí tu vuelo!</title>
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <section class="vuelos">
                <% itineraries.forEach(function(itinerary){ %>
                    <div class="div-vuelo">
                        <div class="ida-y-vuelta">
                            <h3>IDA - <%= itinerary.flights.date %></h3>
                            <div class="detalle-de-vuelo">
                                <div>
                                    <div><%= itinerary.flights.time %></div>
                                    <div><%= itinerary.origins.airports.code %></div>
                                </div>
                                <div class="escalas">
                                    <div>Sin escalas</div>
                                    <hr>
                                    <div><%= itinerary.flights.duration %></div>
                                </div>
                                <div>
                                    <div>undefined</div>
                                    <div><%= itinerary.destinations.airports.code %></div>
                                </div>
                            </div>
                            <h3>VUELTA - <%= itinerary.flights.date %></h3>
                            <div class="detalle-de-vuelo">
                                <div>
                                    <div><%= itinerary.flights.time %></div>
                                    <div><%= itinerary.origins.airports.code %></div>
                                </div>
                                <div class="escalas">
                                    <div>Sin escalas</div>
                                    <hr>
                                    <div><%= itinerary.flights.duration %></div>
                                </div>
                                <div>
                                    <div>undefined</div>
                                    <div><%= itinerary.destinations.airports.code %></div>
                                </div>
                            </div>
                        </div>
                        <div class="price-button">
                            <div class="price">
                                <span><%= itinerary.flights.price %></span>
                                <a href="/"><p>Ver detalle</p></a>
                            </div>
                            <div>
                                <a href="/products/shoppingDetail"><button type="submit">Seleccionar</button></a>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </section>
        </main>
        <%- include('./partials/footer') %>
</body>

</html>