<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <title>Creá tu cuenta</title>
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v12.0"
        nonce="VFH2JtUh"></script>
    <%- include('./partials/header') %>
        <main>
            <div class="padding-top-my-account">
                <div class="login">
                    <% if (locals.errors) { %>
                        <% } %>
                            <form action="/user/register" method="POST">
                                <h3>Registrate con tus datos</h3>
                                <div>
                                    <p class="inputClass-forValidation">
                                        <input type="text" name="email" placeholder="Ingresa tu Email"
                                            value="<%= locals.old && old.email ? old.email : '' %>">
                                    </p>
                                    <% if(locals.errors && errors.email) { %>
                                        <p class="msg-error-form">
                                            <%= errors.email.msg %>
                                        </p>
                                        <% } %>
                                            <p class="inputClass-forValidation">
                                                <input type="password" name="password" placeholder="Contraseña">
                                            </p>
                                            <% if(locals.errors && errors.password) { %>
                                                <p class="msg-error-form">
                                                    <%= errors.password.msg %>
                                                </p>
                                                <% } %>
                                                    <p class="inputClass-forValidation">
                                                        <input type="password" name="repeatPassword"
                                                            placeholder="Repite Contraseña">
                                                    </p>
                                                    <% if(locals.errors && errors.repeatPassword) { %>
                                                        <p class="msg-error-form">
                                                            <%= errors.repeatPassword.msg %>
                                                        </p>
                                                        <% } %>
                                </div>
                                <div>
                                    <p class="inputClass-forValidation">
                                        <input type="text" name="name" placeholder="Nombre"
                                            value="<%= locals.old && old.name ? old.name : '' %>">
                                    </p>
                                    <% if(locals.errors && errors.name) { %>
                                        <p class="msg-error-form">
                                            <%= errors.name.msg %>
                                        </p>
                                        <% } %>
                                            <p class="inputClass-forValidation">
                                                <input type="text" name="last_name" placeholder="Apellido"
                                                    value="<%= locals.old && old.last_name ? old.last_name : '' %>"
                                                    class="form-control is-invalid">
                                            </p>
                                            <% if(locals.errors && errors.last_name) { %>
                                                <p class="msg-error-form">
                                                    <%= errors.last_name.msg %>
                                                </p>
                                                <% } %>
                                                    <p class="inputClass-forValidation">
                                                        <select id="country" name="country">
                                                            <option value="">Nacionalidad</option>
                                                            <% countries.forEach(oneCountry => { %>                                    
                                                                <option value="<%= oneCountry.id %>"
                                                                    <%=locals.old &&
                                                                    oneCountry.country===old.country ? 'selected' :
                                                                    null %>>
                                                                    <%= oneCountry.country %>
                                                                </option>
                                                                <% }) %>
                                                        </select>
                                                        <% if (locals.errors && errors.country) { %>
                                                            <p class="msg-error-form">
                                                                <%= errors.country.msg %>
                                                            </p>
                                                            <% } %>
                                                    </p>
                                </div>
                                <p>
                                    <button type="submit">Registrarse</button>
                                </p>
                            </form>
                </div>
            </div>
        </main>
        <%- include('./partials/footer') %>
</body>

</html>