<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Creá tu cuenta</title>
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v12.0"
        nonce="VFH2JtUh"></script>
    <%- include('./partials/header') %>
        <main>
            <div class="padding-top-my-account">
                <div class="login">
                    <div class="erroresDeValidacion">
                        <ul></ul>
                    </div>
                    <% if (locals.errors) { %>
                        <% } %>
                            <form action="/user/register" method="POST" id="formulario">
                                <h3>Registrate con tus datos</h3>
                                <div>
                                    <div class="formulario__grupo" id="grupo__email">
                                        <div class="formulario__grupo-input">
                                            <input class="formulario__input" type="text" name="email"
                                                placeholder="Ingresa tu Email" id="email"
                                                value="<%= locals.old && old.email ? old.email : '' %>">
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                        <p class="formulario__input-error">Ingrese un correo válido.</p>
                                    </div>
                                    <% if(locals.errors && errors.email) { %>
                                    <p class="msg-error-form">
                                        <%= errors.email.msg %>
                                    </p>
                                    <% } %>
                                    <div class="formulario__grupo" id="grupo__password">
                                        <div class="formulario__grupo-input">
                                            <input class="formulario__input" type="password" name="password"
                                            placeholder="Contraseña" id="password">
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                        <p class="formulario__input-error">La contraseña no puede ser menor a 2 caracteres y debe tener por lo menos 1 letra minúscula, 1 letra mayúscula y 1 simbolo.</p>
                                    </div>
                                    <% if(locals.errors && errors.password) { %>
                                    <p class="msg-error-form">
                                        <%= errors.password.msg %>
                                    </p>
                                    <% } %>
                                    <div class="formulario__grupo" id="grupo__repeatPassword">
                                        <div class="formulario__grupo-input">
                                            <input class="formulario__input" type="password"
                                            name="repeatPassword" placeholder="Repite Contraseña"
                                            id="repeatPassword">
                                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                        <p class="formulario__input-error">Las contraseñas deben ser iguales.</p>
                                    </div>
                                    <% if(locals.errors && errors.repeatPassword) { %>
                                    <p class="msg-error-form">
                                        <%= errors.repeatPassword.msg %>
                                    </p>
                                    <% } %>
                                </div>
                                <div>
                                    <div class="formulario__grupo" id="grupo__name">
                                        <div class="formulario__grupo-input">
                                            <input class="formulario__input" type="text" name="name" placeholder="Nombre"
                                                id="name" value="<%= locals.old && old.name ? old.name : '' %>">
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                        <p class="formulario__input-error">El nombre tiene que ser mayor a 2 caracteres y solo puede contener letras.</p>
                                    </div>
                                    <% if(locals.errors && errors.name) { %>
                                    <p class="msg-error-form">
                                        <%= errors.name.msg %>
                                    </p>
                                    <% } %>
                                    <div class="formulario__grupo" id="grupo__last_name">
                                        <div class="formulario__grupo-input">
                                            <input class="formulario__input" type="text" name="last_name"
                                                placeholder="Apellido" id="last_name"
                                                value="<%= locals.old && old.last_name ? old.last_name : '' %>">
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                        <p class="formulario__input-error">El apellido tiene que ser mayor a 2 caracteres y solo puede contener letras.</p>
                                    </div>
                                    <% if(locals.errors && errors.last_name) { %>
                                    <p class="msg-error-form">
                                        <%= errors.last_name.msg %>
                                    </p>
                                    <% } %>
                                    <p>
                                        <select id="country" name="country">
                                            <option value="">Nacionalidad</option>
                                            <% countries.forEach(oneCountry=> { %>
                                                <option value="<%= oneCountry.id %>"
                                                    id="registerCountry" <%=locals.old &&
                                                    oneCountry.country===old.country ? 'selected' : null
                                                    %>>
                                                    <%= oneCountry.country %>
                                                </option>
                                                <% }) %>
                                        </select>
                                        <% if (locals.errors && errors.country) { %>
                                            <p class="msg-error-form">
                                                <%= errors.country.msg %>
                                            </p>
                                            <% } %>
                                    </p>
                                </div>
                                <p>
                                    <button type="submit">Registrarse</button>
                                </p>
                            </form>
                </div>
            </div>
        </main>
        <%- include('./partials/footer') %>
            <script src="/js/registerValidations.js"></script>
</body>

</html>