<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Lista de Usuarios</title>
</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <main>
        <h1 class="titulo-productos">Lista de Usuarios</h1>

        <form class="list-format">
            <% data.forEach(user => { %>
                <div class="description-list-format">
                    <p>Foto de perfil: <%= user.image %></p>
                    <h4>ID: <%= user.id %></h4>
                    <p>Email: <%= user.email %></p>
                    <h4>Nombre: <%= user.name %></h4>
                    <h4>Apellido: <%= user.lastName %></h4>
                    <p>Nacionalidad: <%= user.country %></p>
                </div>
                <% }) %>
        </form>

    </main>
    <%- include('./partials/footer') %>
</body>

</html>